<section id="aboutMe" class="aboutMeSection">
    <div class="textSection" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
        <div class="aboutMeFirstText">
            <h2>{{'About me' | translate}}</h2>
            <span>{{ 'ABOUT_ME_INTRO' | translate }}</span>
        </div>
        <div class="SecondTextSection">
            <div class="aboutMeSecondText">
                <img src="assets/img/puzzlelogo.png" alt="Puzzle Icon">
                <span>{{ 'ABOUT_ME_FIRST_TEXT' | translate }}</span>
            </div>
            <div class="aboutMeThirdText">
                <img src="assets/img/lightbulblogo.png" alt="Lightbulb Icon">
                <span>{{ 'ABOUT_ME_SECOND_TEXT' | translate }}</span>
            </div>
            <div class="aboutMeFourthText">
                <img src="assets/img/locationlogo.png" alt="Location Icon">
                <span>{{ 'ABOUT_ME_THIRD_TEXT' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="imageSection" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
        <div class="photoSeperatorContainer">
            <img src="assets/img/facepic2.png" alt="My Photo">
            <div class="seperator"></div>
        </div>
    </div>
</section>