<section id="portfolio" class="portfolioSection">
    <div class="backgroundImgContainer">
        <img class="backgroundImg" src="assets/img/GreenShadow.png" alt="Background Image">
    </div>
    <div class="portfolioHeader">
        <div class="seperatorTextContainer">
            <div class="firstSeperator"></div>
            <h3>Portfolio</h3>
            <div class="secondSeperator"></div>
        </div>
        <span>{{'Explore a selection of my work here - Interact with projects to see my skills in action.' | translate}}</span>
    </div>
    <div class="portfolio-container">
        <app-join-project></app-join-project>
        <app-el-pollo-loco-project></app-el-pollo-loco-project>
    </div>
</section>