<section id="portfolio" class="portfolioSection">
    <div class="portfolioHeader"  data-aos="zoom-out" data-aos-delay="200" data-aos-duration="1000">
        <div class="seperatorTextContainer">
            <div class="firstSeperator"></div>
            <h3>Portfolio</h3>
            <div class="secondSeperator"></div>
        </div>
        <span>{{'Explore a selection of my work here - Interact with projects to see my skills in action.' | translate}}</span>
    </div>
    <div class="portfolio-container">
        <app-join-project></app-join-project>
        <app-el-pollo-loco-project></app-el-pollo-loco-project>
    </div>
</section>