.mySkillsSection {
    display: flex;
    padding: 250px 0;
    z-index: 10;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.iconsSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
    justify-items: center;
    align-items: center;
    width: 50%;
    z-index: 10;
}

.img {
    object-fit: contain;
    padding: 0 0 10px 0;
    transition: transform 0.6s ease;
    flex: 0 0 calc(25% - 20px);
    pointer-events: auto;

    &:hover {
        animation: bounce 0.5s infinite;
    }

    &:active {
        animation: bounce 0.5s infinite;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.svg-container {
    position: relative;

    &:hover .tooltip-content,
    .tooltip-content:hover {
        opacity: 1;
        visibility: visible;
    }
}

.custom-icon {
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:hover path {
        fill: #ffffff;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tooltip-content {
    position: absolute;
    top: -135px;
    left: 7rem;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    max-width: 90vw;
    min-width: 200px;
    pointer-events: auto;
    animation: fadeIn 0.3s ease;

    &::before {
        content: '';
        position: absolute;
        top: 99%;
        left: 22%;
        transform: translateX(-50%);
        width: 33px;
        height: 15px;
        background-color: white;
        clip-path: polygon(0% 0%, 100% 0%, 50% 120%);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.iconsText {
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
    gap: 20px;

    .iconTextMiniContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 40px;
        height: 40px;
        padding: 0;
        gap: 20px;
        animation: none;
        transition: none;
    }

    span {
        font-size: 12px;
        font-weight: 700;
    }
}

.skillsTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    text-align: right;
}

.h3SeperatorContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: flex-end;

    h3 {
        font-size: 90px;
        font-weight: 700;
        color: white;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .seperator {
        width: 64px;
        height: 4px;
        background-color: #9747FF;
        border-radius: 10px 10px 10px 10px;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 60px 0 0;
    width: 63%;
}

.firstText {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 7px 0;
}

.secondText {
    color: white;
    font-size: 32px;
    display: flex;
}

.highlight {
    color: #a259ff;
}

.thirdText {
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 7px 0 30px 0;
}

a {
    margin: 0 60px 0 0;
    padding: 10px 20px;
    background-color: #70E61C;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10;

    &:hover {
        background-color: #9747FF;
        transform: scale(1.1) translateX(-10px);
        box-shadow: 0px 4px 15px rgba(200, 200, 200, 0.2);
    }
}

.backgroundImgContainer {
    display: flex;
    position: absolute;
    z-index: -1;
    left: 0;
}

.backgroundImg {
    max-width: 100%;
    height: auto;
}

.iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 20px 0;

    span {
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
    }
}

.d-none {
    display: none;
}

@media (max-width: 1325px) {
    .mySkillsSection {
        display: none;
    }

    .iconTextMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0 20px 0;
        gap: 10px;

        span {
            font-size: 14px;
            font-weight: 700;
            color: #ffffff;
        }
    }

    .mobileBackgroundImgContainer {
        display: flex;
        position: absolute;
        z-index: 0;
        left: 0;
    }

    .mobileMySkills {
        display: flex;
        flex-direction: column;
        margin: 250px 0;
        z-index: 10;
    }

    .mobileH3SeperatorContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
        width: 100%;

        h3 {
            font-size: 90px;
            font-weight: 700;
            color: white;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        .mobileSeperator {
            width: 10%;
            height: 4px;
            background-color: #9747FF;
            border-radius: 10px 0 0 10px;
        }
    }

    .mobileSkillsTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        z-index: 10;
    }

    .mobileIconsSkills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 20px;
        justify-items: center;
        align-items: center;
        width: 80%;
        margin: 30px 0;
    }

    .mobileIconsSkills img {
        pointer-events: auto;

        &:hover {
            animation: bounce 0.5s infinite;
        }

        &:active {
            animation: bounce 0.5s infinite;
        }
    }

    .mobileSvg-container {
        position: relative;

        &:hover .tooltip-content,
        .tooltip-content:hover {
            opacity: 1;
            visibility: visible;
        }
    }

    a {
        margin: 0;
    }

    .textContainerBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .custom-icon,
    .mobileCustom-icon {
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        &:hover path {
            fill: #ffffff;
        }
    }
}

@media (max-width: 755px) {
    .secondText {
        font-size: 17px;
        text-align: center;
        flex-wrap: wrap;
    }

    .highlight {
        font-size: 17px;
        text-align: center;
    }
}

@media (max-width: 715px) {

    .mobileH3SeperatorContainer {
        gap: 10px;

        h3 {
            font-size: 45px;
        }
    }
}

@media (max-width: 625px) {
    .mobileIconsSkills {
        grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
    }

    svg {
        width: 88px;
        height: 100px;
    }

    .tooltip-content {
        top: -138px;
        left: auto;
        right: 6rem;
        transform: translateX(50%);

        &::before {
            left: 74%;
        }
    }

    .iconText {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0 20px 0;

        span {
            font-size: 14px;
            font-weight: 700;
            color: #ffffff;
        }
    }
}

@media (max-width: 596px) {
    .tooltip-content {
        left: 100px;
        transform: translateX(-50%);

        &::before {
            left: 25%;
        }
    }
}

@media (max-width: 481px) {
    .tooltip-content {
        left: 0;
        transform: translateX(-50%);

        &::before {
            left: 71%;
        }
    }
}

@media (max-width: 366px) {
    .tooltip-content {
        left: auto;
        right: 0;
        transform: translateX(50%);

        &::before {
            left: 31%;
        }
    }
}