.aboveTheFoldSection {
  // height: 100vh;
  width: 100%;
  margin: 160px 0 150px 0;
  max-width: 100%;
  // position: relative;
}

.aboveTheFoldUp {
  display: flex;
}

// .image-container {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .aboveTheFoldBackGround {
//   // position: absolute;
//   // top: 150px;
//   // left: -58px;
//   // z-index: 1;
//   // width: 63%;
//   // height: auto;
//   position: relative; // Oder flexibler arbeiten mit Media Queries
//   top: auto; 
//   left: 0px;
//   max-width: 100%;
// }

// .myPhoto {
//   position: relative;
//   z-index: 1;
//   height: auto;
//   max-width: 100%;
// }

.image-container {
  position: relative;
  width: 100%;
  height: 700px;
}

.aboveTheFoldBackGround {
  position: absolute;
  // top: 100px;
  // left: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
}

.myPhoto {
  position: absolute;
  // top: 0;
  // left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 2;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transform: translateY(0);
  z-index: 2;
}

.introTextMain {
  display: flex;
  align-items: center;
}

.intro-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  font-size: 70px;
  transform: rotate(180deg);
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.nameJobTitleContainerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameJobTitleContainer {
  display: flex;
  margin: 0 50px 0 0;
}

.name {
  font-size: 82px;
  font-weight: bold;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: clamp(2rem, 5vw, 4rem);
}

.job-title {
  font-size: 54px;
  color: #6a0dad;
  font-size: clamp(1.5rem, 3.5vw, 3rem);
}

.talkButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button {
  margin-top: 35px;
  padding: 15px 30px;
  background-color: #70E61C;
  color: white;
  border: none;
  font-size: 23px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;

  &:hover {
    background-color: #9747FF;
    transform: scale(1.1) translateX(10px);
    box-shadow: 0px 4px 15px rgba(200, 200, 200, 0.2);
  }
}

.HeroBackgroundContainer {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 40rem;
  z-index: 2;
}

.heroBackgroundImg {
  width: 100%;
  height: 500px;
}

.aboveTheFoldDown {
  position: relative;
  top: -5rem;
  left: 0;
  width: 100%;
  color: white;
  z-index: 9;
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  top: 165px;
  z-index: 15;
}

.seperator {
  width: 100px;
  height: 4px;
  background-color: #9747FF;
  border-radius: 0 10px 10px 0;
}

.linkImg {
  display: flex;
  gap: 32px;
}

.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15), 0px 0px 10px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform, box-shadow;

  &:hover {
    box-shadow:
      inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
  }

  svg {
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }

  &:hover svg {
    transform: scale(0.9) rotate(-360deg);
    fill: #9747FF;
  }
}

.emailScrollDown {
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-weight: 400;

  &:hover {
    color: #9747FF;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: rotate(180deg) translateY(0);
  }

  50% {
    transform: rotate(180deg) translateY(-10px);
  }
}

.scrollDownMain {
  padding: 0 0 0 50px;
  transform: rotate(180deg);
}

.scrollDown {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  font-size: 23px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: bounce 1.5s infinite ease-in-out;

  &:hover {
    color: #9747FF;
  }

  &:hover .scroll-arrow path {
    fill: #9747FF;
  }
}

.d-none {
  display: none;
}

@media (max-width: 1485px) {
  .aboveTheFoldUp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    position: relative;
    top: 120px;
  }

  .aboveTheFoldBackGround {
    width: 50%;
    height: auto;
    min-width: 300px;
  }

  .myPhoto {
    width: 50%;
    height: auto;
    min-width: 350px;
  }

  .HeroBackgroundContainer {
    top: 48rem;
  }

  .hero-section {
    position: relative;
    top: 5rem;
    z-index: 15;
  }

  .aboveTheFoldDownMobile {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 0 0;
    // position: relative;
    // top: -28rem;
    // top: -17rem;
    // left: 0;
    width: 100%;
    color: white;
    z-index: 9;
  }

  .linksContainerMobile {
    display: flex;
    align-items: center;
    gap: 32px;
    // position: relative;
    top: 165px;
    z-index: 15;
  }

  .heroBackgroundImg {
    height: 70%;
    min-height: 350px;
  }

  .aboveTheFoldDown {
    display: none;
  }
}

@media (max-width: 1100px) {
  .aboveTheFoldSection {
    margin: 0 0 150px 0;
  }

  .hero-section {
    top: 0;
  }

  .HeroBackgroundContainer {
    top: 34rem;
  }
}

@media (max-width: 950px) {
  .hero-section {
    top: 0;
  }
}

@media (max-width: 855px) {
  .HeroBackgroundContainer {
    top: 32rem;
  }
}

@media (max-width: 800px) {
  .hero-section {
    top: -2rem;
  }

  .scrollDownMain {
    display: none;
  }
}

@media (max-width: 730px) {
  .HeroBackgroundContainer {
    top: 31rem;
  }
}

@media (max-width: 650px) {
  .nameJobTitleContainer {
    margin: 0;
  }

  .cta-button {
    padding: 10px 25px;
  }

  .linkImg {
    gap: 15px;
  }

  .btn {
    padding: 3px 8px 3px 8px;
  }

  .emailScrollDown {
    display: none;
  }
}

@media (max-width: 370px) {
  .myPhoto {
    min-width: 278px;
  }

  .hero-section {
    top: -4rem;
  }

  .HeroBackgroundContainer {
    top: 28.6rem;
  }
}

@media (max-width: 350px) {
  .aboveTheFoldDown {
    top: -26rem;
  }

  .myPhoto {
    padding: 0 0 0 25px;
  }

  .linksContainer {
    gap: 25px;
  }
}

@media (max-width: 320px) {
  .hero-section {
    top: -5rem;
  }
}