<div class="mainContant">
    <app-above-the-fold-componen></app-above-the-fold-componen>
    <app-about-me></app-about-me>
    <img class="backgroundImg" src="assets/img/Purpleshadow.png" alt="Background Picture">
    <app-myskills></app-myskills>
    <img class="backgroundImgGreen" src="assets/img/GreenShadow.png" alt="Background Image">
    <app-portfolio></app-portfolio>
    <img class="backgroundPortfolio" src="assets/img/BackgroundOne.png" alt="Background Image">
    <app-reviews></app-reviews>
    <img class="backgroundReviews" src="assets/img/GreenShadow.png" alt="Background Image">
    <app-contact></app-contact>
    <img class="backgroundPortContact" src="assets/img/BackgroundTwo.png" alt="Background Image">
</div>