<section class="portfolioProjectsSection">
    <div class="portfolioProjectsContainer">
        <img [src]="projects[0].imageSrc" alt="{{projects[0].title}}" class="portfolio-image">
        <div class="descriptionLinksMainContainer">
            <div class="descriptionContainer">
                <p class="title">{{projects[0].title}}</p>
                <p class="technologies">{{projects[0].technologies}}</p>
                <p class="description">{{ 'POLLO_LOCO_DESCRIPTION' | translate }}</p>
            </div>
            <div class="linksContainer">
                <a [href]="projects[0].liveTestUrl" target="_blank" class="live-test-btn">Live test</a>
                <a [href]="projects[0].githubUrl" target="_blank" class="github-btn">Github</a>
            </div>
        </div>
    </div>
</section>
