.privacyPolicy {
    color: white;
    padding: 100px 32px 40px;
    max-width: 1920px;
    margin: 0 auto;

    a {
        color: #007BFF;
        text-decoration: none;

        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }
}