.privacyPolicy {
    color: white;
    padding: 100px 32px 40px;

    a {
        color: #007BFF;
        text-decoration: none;
        
        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }
}
