<div class="impressum">
  <h1>{{'Legal Policy' | translate}}</h1>
  <p>{{'SECTION_5_DDG' | translate}}</p>
  <p>Oleg Wenner <br>
    Am Bahndamm 2<br>
    33775 Versmold <br>
  </p>
  <p><strong>{{'REPRESENTED_BY' | translate}}: </strong><br>
    Oleg Wenner<br>
  </p>
  <p><strong>{{'CONTACT' | translate}}:</strong> <br>
    {{'PHONE' | translate}}: 015154054671<br>
    {{'EMAIL' | translate}}: <a href="mailto:aleg1691@gmail.com">aleg1691&#64;gmail.com</a><br></p>
  <p><strong>{{'DISCLAIMER' | translate}}: </strong><br><br>
    <strong>{{'LIABILITY_FOR_CONTENT' | translate}}</strong><br><br>
    {{'CONTENT_RESPONSIBILITY_TEXT' | translate}}<br><br>
    <strong>{{'LIABILITY_FOR_LINKS' | translate}}</strong><br><br>
    {{'LINK_RESPONSIBILITY_TEXT' | translate}}<br><br>
    <strong>{{'DATA_PROTECTION' | translate}}</strong><br><br>
    {{'DATA_PROTECTION_TEXT' | translate}}<br>
    {{'INTERNET_TRANSMISSION_WARNING' | translate}}<br>
    {{'UNSOLICITED_EMAIL_WARNING' | translate}}<br>
  </p><br>
  {{'IMPRINT_FROM' | translate}} <a href="https://www.impressum-generator.de" target="_blank">{{'IMPRINT_GENERATOR' | translate}}</a>
  {{'BY' | translate}} <a href="https://www.kanzlei-hasselbach.de/rechtsgebiete/familienrecht/"
    target="_blank">{{'BY_LAW_FIRM' | translate}}</a>
</div>