.impressum {
    color: white;
    padding: 110px 32px 40px;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;

    a {
        color: #007BFF;
        text-decoration: none;
        
        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }
}
