.contactSection {
    width: 100%;
    color: white;
    position: relative;
    z-index: 10;
    padding: 150px 0 50px 0;
    max-width: 1920px;
    margin: 0 auto;
    min-height: unset;
}

.seperatorTextContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 0 70px 0;
}

.seperator {
    width: 50%;
    height: 4px;
    background-color: #9747FF;
    border-radius: 10px;
}

h3 {
    font-size: 90px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.textInputContainer {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 10px;

    .firstText {
        font-size: 32px;
        font-weight: 700;
    }

    span {
        font-size: 16px;
        font-weight: 400;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;

    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    input,
    textarea {
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    input.ng-invalid.ng-touched {
        border-color: #E61C40;
        background-image: url('/assets/img/wrong.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px 20px;

        &:hover {
            border-color: #E61C40;
        }
    }

    input.ng-valid.ng-touched {
        border-color: #70E61C;
        background-image: url('/assets/img/check.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px 20px;
    }

    textarea.ng-invalid.ng-touched {
        border-color: #E61C40;
        background-image: url('/assets/img/wrong.png');
        background-repeat: no-repeat;
        background-position: right 10px top 20px;
        background-size: 20px 20px;

        &:hover {
            border-color: #E61C40;
        }
    }

    textarea.ng-valid.ng-touched {
        border-color: #70E61C;
        background-image: url('/assets/img/check.png');
        background-repeat: no-repeat;
        background-position: right 10px top 20px;
        background-size: 20px 20px;
    }

    .error-message {
        color: #ff4b4b;
        font-size: 14px;
    }

    .success-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #00ff66;
    }

    .error-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #ff4b4b;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;

        span {
            color: #E61C40;
            font-size: 14px;
            font-weight: 400;
        }

        input,
        textarea {
            width: 95%;
            border: 2px solid #9747FF;
            border-radius: 10px;
            background-color: #141D2F;
            outline: none;
            color: white;
            font-size: 16px;
            font-weight: 400;
            font-family: "Poppins";
            transition: background-color 0.3s ease;

            &::placeholder {
                color: white;
                font-size: 16px;
                font-weight: 400;
            }

            &:focus {
                background-color: #141D2F;
            }

            &:valid {
                background-color: #141D2F;
            }

            &:hover {
                border: 2px solid #70E61C;
            }

            &:-webkit-autofill {
                background-color: #141D2F !important;
                -webkit-box-shadow: 0 0 0px 1000px #141D2F inset !important;
                color: white !important;
                font-size: 16px !important;
                font-weight: 400 !important;
                font-family: "Poppins" !important;
                -webkit-text-fill-color: white !important;
            }

            &:-webkit-autofill::first-line {
                color: white !important;
                font-size: 16px !important;
                font-weight: 400 !important;
                font-family: "Poppins" !important;
            }

            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                background-color: #141D2F !important;
                color: white !important;
                font-size: 16px !important;
                font-weight: 400 !important;
                font-family: "Poppins" !important;
                -webkit-text-fill-color: white !important;
                transition: background-color 0s ease-in-out 0s;
            }
        }

        input[type="email"],
        input[type="text"] {
            background-color: #141D2F;
            color: white;
            font-family: "Poppins" !important;
            font-size: 16px !important;
            font-weight: 400 !important;
            -webkit-text-fill-color: white !important;
        }

        textarea {
            height: 150px;
            resize: vertical;
        }

        div {
            display: flex;
            align-items: center;
            gap: 15px;

            input[type="checkbox"] {
                display: none;
            }

            label {
                display: block;
                position: relative;
                top: 1px;
                width: 25px;
                height: 19px;
                transition: .1s ease;
                border: 2px solid #70E61C;
                border-radius: 3px;
                cursor: pointer;
                flex-shrink: 0;
            }

            label::after {
                content: "";
                position: absolute;
                top: 2px;
                left: 8px;
                width: 7px;
                height: 14px;
                transform: rotate(45deg) scale(0);
                transition: all .3s ease;
                transition-delay: .15s;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                opacity: 0;
            }

            input:checked~label {
                animation: checkbox .6s ease;
                border-color: transparent;
                background: #9747FF;
            }

            input:checked~label::after {
                transform: rotate(45deg) scale(1);
                opacity: 1;
            }

            @keyframes checkbox {
                from {
                    transform: scale(1, 1);
                }

                30% {
                    transform: scale(1.25, .75);
                }

                40% {
                    transform: scale(.75, 1.25);
                }

                50% {
                    transform: scale(1.15, .85);
                }

                65% {
                    transform: scale(.95, 1.05);
                }

                75% {
                    transform: scale(1.05, .95);
                }

                to {
                    transform: scale(1, 1);
                }
            }
        }

        .firstText {
            font-size: 14px;
            font-weight: 400;
            color: white;
        }

        .secondText {
            font-size: 14px;
            font-weight: 400;
            color: #9747FF;
            text-decoration: none;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: #9747FF;
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 35px 0 0 0;

    button {
        padding: 15px 30px;
        background-color: #B6B6B6;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-size: 23px;
        font-weight: 400;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

        &:hover {
            background-color: #999999;
            box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
        }
    }

    button.valid {
        background-color: #70E61C;

        &:hover {
            background-color: #64CC19;
            box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
        }
    }

    button[disabled] {
        background-color: #B6B6B6;
        cursor: not-allowed;
    }
}

.upArrowContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 40px 0 0 0;
    align-items: center;

    svg {
        transition: all 0.3s ease;

        &:hover rect {
            stroke: #70E61C;
        }

        &:hover path {
            fill: #70E61C;
        }
    }
}

.successMessage {
    text-align: center;
    margin-top: 15px;

    span {
        color: #70E61C !important;
        font-size: 16px !important;
        font-weight: 600 !important;
    }
}

@media (max-width: 1360px) {
    .textInputContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0 10px 0 10px;
    }

    .contactSection {
        min-height: 92vh;
    }
}

@media (max-width: 1081px) {
    .contactSection {
        padding: 0px 0 50px 0;
    }
}

@media (max-width: 960px) {
    .seperatorTextContainer {
        margin: 0 30px 0 0;
    }
}

@media (max-width: 715px) {
    h3 {
        font-size: 54px;
    }

    .textContainer {
        .firstText {
            font-size: 23px;
        }
    }
}

@media (max-width: 500px) {
    .formContainer {
        form {

            input,
            textarea {
                width: 92%;
            }
        }
    }
}